{% extends "layout.html" %}

{% block title %}
    Success
{% endblock %}

{% block main %}
    <div class="container" style="padding: 20px">
        <div class="row">
            <div class="col">
                <h3 class="textblock">
                    Write a review
                </h3>
                <p class="textblock">
                    Write a review for a book that you have read.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="textblock">
                    Info from GoodReads on this book:<br>
                    Average rating: {{ book_info.average_rating }}<br>
                    Number of ratings: {{ book_info.ratings_count }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="{{ url_for('submitreview') }}" method="post">
                    <div class="form-group">
                        <textarea class="form-control" name="reviewtext" rows="5"></textarea>
                        <input type="hidden" name="book_id" value="{{ book.book_id }}">
                    </div>
                    <button class="btn btn-primary" type="submit">Submit review</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="spaced-textblock">Reviews from other users:</p>
            </div>
        </div>
            {% if reviews %}
                {% for review in reviews %}
                <div class="row">
                    <div class="col">
                        <p class="textblock">Review from {{ review.username }}:</p>
                        <p class="textblock">{{ review.review }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="row">
                <div class="col">
                    <p class="textblock">No reviews yet</p>
                </div>
            </div>
            {% endif %}

    </div>

{% endblock %}
