{% extends "layout.html" %}

{% block title %}
    Success
{% endblock %}

{% block main %}
    <div class="container" style="padding: 20px">
        <div class="row">
            <div class="col">
                <h3 class="textblock">
                    Write a review
                </h3>
                <p class="textblock">
                    Write a review for a book that you have read.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="textblock">
                    Info from GoodReads on this book:<br>
                    Average rating: {{ book_info.average_rating }}<br>
                    Number of ratings: {{ book_info.ratings_count }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="{{ url_for('submitreview') }}" method="post">
                    <div class="form-group">

                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" required>
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" required>
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" required>
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" required>
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" required>
                            <label for="star1" title="text">1 star</label>
                          </div>

                        <textarea class="form-control" name="reviewtext" rows="5"></textarea>
                        <input type="hidden" name="book_id" value="{{ book.book_id }}">
                    </div>
                    <button class="btn btn-primary" type="submit">Submit review</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="spaced-textblock">Reviews from other users:</p>
            </div>
        </div>
            {% if reviews %}
                {% for review in reviews %}
                <div class="row">
                    <div class="col">
                        <p class="textblock">Review from {{ review.username }}:</p>
                        <p class="textblock">{{ review.review }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="row">
                <div class="col">
                    <p class="textblock">No reviews yet</p>
                </div>
            </div>
            {% endif %}

    </div>

{% endblock %}
