{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="container" style="padding: 20px">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <form action="/register" method="post">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" id="usern_id" type="text">
                </div>
                <div class="form-group">
                    <p class="textblock">Passwords should be at least eight characters, contain one uppercase and one lowercase letter and one of the symbols $@#%&_</p>
                    <input class="form-control" name="password" placeholder="Password" type="password">
                </div>
                <div class="form-group">
                    <input class="form-control" name="confirmation" placeholder="Confirm password" type="password">
                </div>
                <button class="btn btn-primary" type="submit" id="register">Register</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}
